<style>
body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
</style>
<body class="text-center">
<main role="main" class="container">

  <div class="starter-template">
    <h1>映画感想・レビュー</h1><br>
<h2>ユーザから投稿いただいた映画作品の感想・レビュー・評価を掲載。劇場で見たり、DVD・TVなどの過去作品のレビューも募集中。見たい映画の参考にぜひどうぞ。</h2>
    <p class="lead">
<div class="row">
  <% @movies.each do |movie| %>
      <div class="col-md-3">
        <%= link_to movie_path(movie.id) do %>
          <%= attachment_image_tag movie, :image, :fill, 150, 150, fallback: "no-image-icon.jpg" %>
        <% end %>
        <h2><%= link_to movie.name, movie_path(movie.id) %></h2>
        <div id='<%= "star-rate-#{movie.id}" %>'></div>
        <script>
          $('<%= "#star-rate-#{movie.id}" %>').raty({
            size: 36,
            starOn: "<%= asset_path('star-on.png') %>",
            starOff: "<%= asset_path('star-off.png') %>",
            starHalf: "<%= asset_path('star-half.png') %>",
            half: true,
            readOnly: true,
            score: '<%= "#{movie.movie_comments.average(:evaluation).to_f.round(1)}" %>',
          });
        </script>
    </div>
  <% end %>
</div>
</div>