<body class="text-center">
<h1>映画投稿フォーム</h1>
<p></p>

<%= form_with(model: @movie, local: true) do |f| %>
    <% @movie.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>
    <h4>タイトル</h4>
    <%= f.text_field :name %>

    <h4>内容</h4>
    <%= f.text_area :body %>

    <h4>画像</h4>
    <%= f.attachment_field :image %>

     <h4>ジャンル</h4>
    <%= collection_check_boxes(:movie, :genre_ids, Genre.all, :id, :genrename, include_hidden: false) do |b| %>
      <%= b.label { b.check_box + b.text } %>
    <% end %>

    <%= link_to 'ジャンル追加', new_genre_path %>

    <p><%= f.submit '投稿' %></p>

<% end %>
</body>