<div class="post-body">
  <%= attachment_image_tag @movie, :image %>
  <p>タイトル：<%= @movie.name %></p>
  <p>説明：<%= @movie.body %></p>
  <p>投稿日時：<%= @movie.created_at.strftime('%Y/%m/%d') %></p>
</div>

<div class="comments">
<p>コメント件数：</p>
<% @movie.movie_comments.each do |movie_comment| %>
  <%= movie_comment.created_at.strftime('%Y/%m/%d') %><%= movie_comment.comment %>
  <%= movie_comment.user.name %>
  <p class="movie_comment-evaluation" data-score="<%= movie_comment.evaluation %>"></p>
  <% if movie_comment.user == current_user %>
  <div class="comment-delete">
    <%= link_to "削除", movie_movie_comment_path(movie_comment.movie, movie_comment), method: :delete %>
  </div>
  <% end %>
  <h3>いいね件数: <%= movie_comment.likes.count %></h3>
<% if current_user.already_liked?(movie_comment) %>
  <%= button_to 'いいねを取り消す', movie_movie_comment_like_path(movie_comment.movie_id, movie_comment.id), method: :delete %>
<% else %>
  <%= button_to 'いいね', movie_movie_comment_likes_path(movie_comment.movie_id, movie_comment.id) %>
<% end %>
<% end %>
</div>
<div class="new-comment">
<%= form_with(model: [@movie, @movie_comment], local: true) do |f| %>
  <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
  <div id="evaluate_stars">
    <label>評価</label>
  </div>
  <%= f.submit "送信する" %>
<% end %>
</div>

<script>
  $('#evaluate_stars').raty({
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'movie_comment[evaluation]' //登録するモデル名とカラム名を記述
  });

  $('.movie_comment-evaluation').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>

