<!DOCTYPE html>
<html>
  <head>

    <title>Cinematime</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/0acbe5bf39.js" crossorigin="anonymous"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>


  </head>

  <body>

<style>
body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
</style>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">CinemaTime</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <% if user_signed_in? %>
        <!--<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
        <%= link_to "トップページ",root_path, class:  "nav-link" %>
      </li>
      <li class="nav-item">
        <!--<a class="nav-link" href="#">Link</a>-->
        <%= link_to "投稿一覧", movies_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <!--<a class="nav-link disabled" href="#">Disabled</a>-->
        <%= link_to 'ジャンル別一覧', genres_path, class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">メニュー</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <!--<a class="dropdown-item" href="#">Action</a>-->
          <%= link_to '投稿フォーム', new_movie_path, class: "dropdown-item" %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          <!--<a class="dropdown-item" href="#">Another action</a>-->
          <!--<a class="dropdown-item" href="#">Something else here</a>-->
        </div>
      </li>
      <% else %>
      <li class="nav-item active">
        <%= link_to "トップページ",root_path, class:  "nav-link" %>
      </li>
      <li class="nav-item">
        <!--<a class="nav-link" href="#">Link</a>-->
        <%= link_to "投稿一覧", movies_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <!--<a class="nav-link disabled" href="#">Disabled</a>-->
        <%= link_to 'ジャンル別一覧', genres_path, class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">メニュー</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <!--<a class="dropdown-item" href="#">Action</a>-->
          <%= link_to "ログイン", new_user_session_path, class: "dropdown-item" %>
          <%= link_to "新規登録", new_user_registration_path, class: "dropdown-item" %>
          <!--<a class="dropdown-item" href="#">Another action</a>-->
          <!--<a class="dropdown-item" href="#">Something else here</a>-->
        </div>

      <% end %>
    </ul>
    <%= form_tag(search_path,:method => 'get', class: "form-inline my-2 my-lg-0") do %>
      <%= text_field_tag :search, "",  class: "form-control mr-sm-2" %>
      <%= submit_tag '検索', :name => nil, class: "btn btn-secondary my-2 my-sm-0" %>
    <% end %>
  </div>
</nav>



<!--<main role="main" class="container">

  <div class="starter-template">
    <h1>Bootstrap starter template</h1>
    <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
  </div>

</main>-->



    <%= yield %>
  </body>
</html>
